<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="static/css/styles.css">
    </link>
</head>

<body>
    <header>
        <div class="title"><h1>Space Station Vision</h1></div>
    </header>

    <div id="map"></div>
    <div id="controls">
        <label><input type="checkbox" id="toggle-iss" checked> Show ISS</label><br>
        <label><input type="checkbox" id="toggle-trajectory" checked> Show Future Trajectory</label><br>
        <div class="slider-container" id="slider-container">
            <label for="trajectory-time-slider">Future Trajectory Duration (hours): <span
                    id="slider-value">1</span></label>
            <input type="range" id="trajectory-time-slider" min="0" max="12" value="1" step="0.1">
        </div>
    </div>

    <div id="iss-pass-prediction">
        <h3>Next Passes:</h3>
        <p id="next-pass"><button id="predict-pass">Predict ISS Pass</button></p>
    </div>

    <div id="iss-info-panel">
        <h3>ISS Information</h3>
        <p><strong>Speed: </strong><span id="iss-speed">Loading...</span> km/h</p>
        <p><strong>Altitude: </strong> <span id="iss-altitude">Loading...</span> km</p>
        <h4>Crew:</h4>
        <p id="iss-crew">Loading crew data...</p>
    </div>

    <form id="reminderForm">
        <label for="pass-time">Select Pass Time:</label>
        <input type="datetime-local" id="pass-time" name="pass-time" required>
        <input type="hidden" id="user-id" value="1"> <!-- Assuming a logged-in user -->
        <button type="submit">Set Reminder</button>
    </form>


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/utils.js"></script>

    <script src="static/js/iss.js"></script>
    <script src="static/js/controls.js"></script>
    <script src="static/js/info.js"></script>

    <script src="static/js/reminders.js"></script>


</body>

</html>